.navigation {
    /* _Xpro v2 Navigation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px 8px 12px;
gap: 8px;

width: 64px;
height: 900px;

/* Background/White */
background: #FFFFFF;
/* Text/8 */
border-right: 1px solid #E1E1E8;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.navigation .logo-svg {
    /* Xpro Sidebar logo */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.navigation .nav-items {
    /* Top */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 40px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.navigation .item4 {
    /* _Notification */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin-top: 600px;
}

.navigation .item5 {
    /* Xpro Avatar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

.navigation button {
    
}
